@model List<ListItemViewModelForAP>

<div class="col-lg-12">
    <div class="row justify-content-end">
        <div class="">
            <a asp-route="admin-navbar-add" target="_blank" class="btn btn-secondary">Add new Navbar</a>
        </div>
    </div>
</div>
<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title">Navbars</h4>
        </div><!--end card-header-->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped mb-0">
                    <thead>
                        <tr>
                            <th>Navbar Name</th>
                            <th>Navber Url</th>
                            <th>Navber Row</th>
                            <th>Navbar is Main</th>
                            <th>Navbar is For Header</th>
                            <th>Navbar is For Footer</th>
                            <th class="text-end">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var navbar in Model)
                        {
                            <tr>
                                <td>@navbar.Name</td>
                                <td>@navbar.Url</td>
                                <td>@navbar.RowNumber</td>
                                <td>@navbar.IsMain</td>
                                <td>@navbar.IsHeader</td>
                                <td>@navbar.IsFooter</td>

                                <td class="text-end">
                                    <a asp-route="admin-navbar-update" asp-route-id="@navbar.Id" ><i class="las la-pen text-secondary font-16"></i></a>
                                    <form method="POST" asp-route="admin-navbar-delete" asp-route-id="@navbar.Id" id="book-form-@navbar.Id" ></form>
                                    <button type="submit" form="book-form-@navbar.Id">
                                        <i class="las la-trash-alt text-secondary font-16"></i>
                                    </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table><!--end /table-->
            </div><!--end /tableresponsive-->
        </div><!--end card-body-->
    </div><!--end card-->
</div>